# Ignore Terraform local state files and sensitive variables
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Ignore Java build outputs
build/
.gradle/
*.jar
!**/newrelic.jar
!**/gradle-wrapper.jar
*.war
*.class

# Ignore IDE specific files
.idea/
.vscode/
*.iml
